<!-- Modal -->
<div class="modal fade modalKodiaks" id="detailModal" tabindex="-1" aria-labelledby="detailModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="detailModalLabel">Detalle del movimiento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <label class="form-label"><b>Integrante</b></label>
          <span>{{movement.fullName}}</span>
        </div>
        <div class="col-md-4">
          <label class="form-label"><b>Tipo</b></label>
          <span>{{movement.movementTypeDesc}}</span>
        </div>
        <div class="col-md-4">
          <label class="form-label"><b>Concepto</b></label>
          <span>{{movement.conceptDesc}}</span>
        </div>
        <div class="col-md-4">
          <label class="form-label"><b>Método</b></label>
          <span>{{movement.methodDesc}}</span>
        </div>
        <div class="col-5">
          <label class="form-label"><b>Fecha de movimiento</b></label>
          <span>{{movement.movementDate | date:'dd/MM/yyyy'}}</span>
        </div>
        <div class="col-md-7">
          <label class="form-label"><b>Monto</b></label>
          <span>{{movement.amount}}</span>
        </div>
        <div class="col-md-12">
          <label class="form-label"><p>Comentario</p></label>
          <p>{{movement.additionalComment}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
