<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class=" row">
  <div class=" col-md-12">
    <div class=" card">
      <div class=" card-header">
        <div class="row">
          <div class="col col-mb-10">
            <h1 class=" card-title">Miembros del equipo</h1>
          </div>
          <div class="col col-mb-2 text-right">
            <!-- <input class="btn btn-primary" type="button" value="Agregar" (click)="OpenAddMemberModel(content)"> -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Launch demo modal
            </button>
          </div>
        </div>
      </div>
      <div class=" card-body">
        <div class=" table-responsive">
          <table class=" table tablesorter" id="">
            <thead class=" text-primary">
              <tr>
                <th>Id</th>
                <th>Nombre </th>
                <th>Apodo</th>
                <th>N°</th>
                <th>B/T</th>
                <th>Cumpleaños</th>
                <th>Correo</th>
                <th>Celular</th>
                <th class=" text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of lstMembers">
                <td>{{member.memberId}}</td>
                <td>{{member.fullName}}</td>
                <td>{{member.nickName}}</td>
                <td>{{member.shirtNumber}}</td>
                <td>{{member.btSideDesc}}</td>
                <td>{{member.birthday}}</td>
                <td>{{member.email}}</td>
                <td>{{member.cellPhoneNumber}}</td>
                <td class=" text-center">
                  <input class="btn btn-warning" type="button" value="Editar" (click)="onEditMember(member)">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
