/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './assets/scss/auth/util.scss';
@import './assets/scss/auth/main.scss';

.custom-checkbox-form{
  font-family: system-ui, sans-serif;
  font-size: 1.05rem;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1.1em auto;
  gap: 0.5em;
}
.custom-checkbox-label{
  margin-top: 0.4em;
}
.modalKodiaks{
  color: black !important;
  input,span,label{
    color: black !important;
  }
  input:disabled{
    background-color: #D1D1D1 !important;
  }
}
.neutral-currency{
  color: white !important;
}
.positive-currency{
  color: green !important;
}
.negative-currency{
  color: red !important;
}
.link-Kodiaks{
  color: aqua;
  text-decoration: underline;
}
.link-Kodiaks:hover{
  color: orange !important;
  text-decoration: underline;
}
